body {
    text-align: center;
}

ul {
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
}
li {
  list-style: none;
}

.container {
  display:  flex;
  flex-direction: row;
  margin: 0 auto;
  width: 500px;
}